<ion-content>
    <div class="ion-padding">
        <ion-card>
            Descrição:
            <ion-card-content>
                <ion-input disabled value="Célula: Flechas"></ion-input>
            </ion-card-content>

            <ion-card-content>
                <ion-input disabled value="Data: 17/10/2020"></ion-input>
            </ion-card-content>


            <ion-card-content>
                <ion-input disabled value="Horário: 17:00"></ion-input>
            </ion-card-content>


            <ion-card-content>
                <ion-input disabled value="Endereço: Rua inês Monteiro, 99"></ion-input>
            </ion-card-content>


            <ion-card-content>
                <ion-input disabled value="Facilitador: Evani Silva"></ion-input>
            </ion-card-content>

            <ion-card-content>
                <ion-input disabled value="Louvor: Ele é minha rocha"></ion-input>
            </ion-card-content>

        </ion-card>


        <ion-card>
            <ion-card-header>

                <ion-item>
                    <ion-card-subtitle>Alimentos</ion-card-subtitle>
                </ion-item>

                <ion-item>
                    <ion-label>Pão</ion-label>
                    <ion-checkbox color="primary"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>Frios</ion-label>
                    <ion-checkbox color="primary"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>Suco</ion-label>
                    <ion-checkbox color="primary"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>Refrigerante</ion-label>
                    <ion-checkbox color="primary"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>Agua</ion-label>
                    <ion-checkbox color="primary"></ion-checkbox>
                </ion-item>

            </ion-card-header>
        </ion-card>

        <ion-item>
            <ion-label>Anotações:</ion-label>
            <ion-input></ion-input>
          </ion-item>

        <ion-card>
            <!-- Segment with default selection -->
            <ion-item>
                <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
                    <ion-segment-button value="python">
                        <ion-label>Cancelar</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="javascript">
                        <ion-label>Confirmar</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>

            