<ion-content padding center text-center>

  <ion-avatar>
    <img src="https://scontent.fcgh8-1.fna.fbcdn.net/v/t1.0-9/37393441_10156430518982521_1695329363890798592_o.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHSLmI-uc6QbaFq7sfsNy4MNdN7NX_OMGo103s1f84wapnJC36YfEKBWwKZi6J8ZKkuuIQ81i186GLkLCzhjcn4&_nc_ohc=PpMneWylrscAX-Lhyy1&_nc_ht=scontent.fcgh8-1.fna&oh=909fdfb0fcc0736c195542be9eb5f0ef&oe=5FC55D48">
  </ion-avatar>

      <ion-list>
      <ion-item>
      <ion-input placeholder="email" [(ngmode1)]="email"></ion-input>
      </ion-item>
      <ion-item>
      <ion-input placeholder="senha" [(ngmode1)]="senha"></ion-input>
      </ion-item>
  </ion-list>

  <button ion-button full (click)="login()">Login</button>
</ion-content>