<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="search" class="ion-margin-start"></ion-icon>
    <ion-input placeholder="Pesquisar"></ion-input>
    <ion-buttons slot="end">
      <!-- <button ion-button icon-only (click)="picker.open($event)">
        <ion-datetime #picker pickerFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="datePicker"
          (ionChange)="changeDate()"></ion-datetime>
        <ion-icon name="calendar"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngFor="let cell of cells">
    <ion-card [ngStyle]="{'background-color': cell.status === 'c' ? '#0d910d' : '' }">
      <ion-card-header>
        <ion-card-title>{{ cell?.title }}</ion-card-title>
        <div float-left tappable (click)=" onClickViewDetail()" style="display: flex; float: right">
          <ion-icon name="eye-sharp"></ion-icon>
        </div>
        <ion-card-subtitle class="fontSubtitle">{{ cell?.dateEvent }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-icon name="person-circle-outline"></ion-icon>{{ cell?.facilitatorName }}
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>